# ==========================================
# API & WEBSOCKET
# ==========================================
VITE_API_URL=
VITE_SOCKET_URL=

# ==========================================
# TRADING CONFIGURATION
# ==========================================
VITE_TRADING_SYMBOLS=
VITE_CANDLE_INTERVALS=