# ==========================================
# QUESTDB
# ==========================================
QUESTDB_HOST=
QUESTDB_PORT=
QUESTDB_USER=
QUESTDB_PASSWORD=
QUESTDB_DB_NAME=
QUESTDB_POOL_MAX=
QUESTDB_POOL_TIMEOUT=
QUESTDB_POOL_IDLE_TIMEOUT=

# ==========================================
# KAFKA
# ==========================================
KAFKA_BROKER=
KAFKA_TOPIC_KLINE_STREAM=
KAFKA_CLIENT_ID=
KAFKA_GROUP_ID=