@import "tailwindcss";

html, body {
  background-color: #131722; 
  overflow-x: hidden; 
}

::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #131722; }
::-webkit-scrollbar-thumb { background: #2B2B43; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #3f3f5a; }